@mixin element() {
    content: '';
    display: block;
    position: absolute;
    height: 5em;
    border: 1px solid #fff;
}
@mixin flex {
    display: flex;
    align-items: center;
    display: -webkit-flex;
    display: -ms-flexbox;
    flex-wrap: wrap; 
    -ms-flex-wrap: wrap; 
    -webkit-flex-wrap: wrap;
    -webkit-align-items: center;
    -ms-align-items: center;
}